/*
Your selected colors:

    Primary: #e8e8e8 (RGB: 232, 232, 232)
    Secondary: #050505 (RGB: 5, 5, 5)
    Primary Button: #9c9c9c (RGB: 156, 156, 156)
    Secondary Button: #0f0f0f (RGB: 15, 15, 15)
    Accent: #696969 (RGB: 105, 105, 105)

Realtime Colors link for selected colors: https://realtimecolors.com/?colors=e8e8e8-050505-9c9c9c-0f0f0f-696969

Thanks for using RealtimeColors.com!
*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
.titleFont {
  font-family: 'Passion One', cursive;
}
.mainOuter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}
.removeBorder {
  border-style: none;
  margin-left: .25vw;
  margin-top: .25vw;
}
.squareBtn {
  width: 5vh;
  height: 5vh;
}
.largeText {
  font-size: 10vh;
}
.mediumText {
  font-size: 5vh;
}
@media only screen and (max-device-width: 600px) and (orientation: portrait) {
  .mediumText {
    font-size: 5vh;
    width: 100%;
  }
  .mainOuter {
    height: 60vh;
  }
}
.smallText {
  font-size: 2.5vh;
}
.primaryColour {
  color: #e8e8e8;
}
.secondaryColour {
  color: #050505;
}
.primaryButtonColour {
  background-color: #9c9c9c;
}
.secondaryButtonColour {
  background-color: #0f0f0f;
}
.accentColour {
  background-color: #696969;
}
body {
    background-color: #050505;
}
#scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cardOuter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 22vw;
  height: 30vh;
  border-radius: 8vh;
}
.header {
  color: white;
}
.hide {
  visibility: hidden;
}
.gameHolder {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.cardHolder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: row;
  gap: 3vh;
  /* height: 80vh;
  width: 100vw; */
}

.flipCard {
    animation-name: cardFlip;
    animation-duration: 200ms;
}
@keyframes cardFlip {
    0% {transform: scaleX(100%);}
    50% {transform: scaleX(0%);}
    100% {transform: scaleX(100%);}
}
.cardText {
  font-size: 15vh;
}