body {
    background-color: #050505;
}
.cardOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 24vw;
    height: 60vh;
}
.cardHolder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: row;
    gap: 3vh;
}